<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Movie Poll</title>
	<meta name="viewport" content="width=device-width">
  <style>
  .error-page-wrap {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #94399E;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: Center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-page-wrap h1 {
  font-size: 100px;
  margin: 0;
  color: #fff;
}
.error-page-wrap h2 {
  margin: 0;
  color: #fff;
  margin: 20px 0;
}
.error-page-wrap a {
  color: #fff;
  display: block;
}
</style>
</head>
<body>
	<div class="error-page-wrap">
        <h1>404</h1>
        <h2>oops! page not found</h2>
        <a href="/" title="Back to site" class="error-back">back</a>
	</div>
</body>
</html>