<%- include ('partials/htmlHeader') %>
<div class="container">
    <h1>POOL</h1>
    <input type="text" placeholder="Searched movie" name="movieName" id="movieName"> 
    <button type="button" onclick="getMovies()">Search</button> 
    <div id="moviesWrapper">

    </div>
</div>  
<%- include ('partials/socketConnection') %>
<script src="/js/moviesFetch.js"></script>
<script src="/js/pollRoomSocket.js"></script>
<%- include ('partials/htmlFooter') %>