<%- include ('partials/htmlHeader') %>
<div class="container">
    <h1>POOL</h1>
    <form action="/pool/add" method="post">
        <input type="text" placeholder="Searched movie" name="movieName"> 
        <button type="submit">Search</button> 
    </form>
</div>  
<%- include ('partials/socketConnection') %>
<%- include ('partials/htmlFooter') %>